
.square {
  height: 20px;
  width: 20px;
  border: 1px solid #000000;
  background-color: #ffffff;
  transform: translate(30%, 100%);
  background-size:contain;
  background-position: center;
  background-repeat: no-repeat;
}
.milkGlass {
    background-color: #9ea10e;
    background-image: url("../../../../assets/images/cards/milkGlass.png");
  }
  

.bearFace {
  background-color: #000000;
  background-image: url("../../../../assets/images/cards/bearFace.png");
}
