.infoCard {
  width: 100px;
  border: solid black 1px;
  overflow: auto;
}

.active {
  background-color: greenyellow !important;
}

.playerName {
  height: 10px;
  font-size: 10px;
  font-family: Copperplate;
  font-style: italic;
  font-weight: bold;
  text-align: start;
  background-color: #aa9f9f;
  border-bottom: solid black 1px;
}
