
<div class="row">
  <div class="col">
    <div class="closedCard greenCard">
      <directions-card ></directions-card>
    </div>
  </div>
  <div class="col">
    <div class="closedCard blueCard">
    </div>
  </div>
  <div class="col">
    <div class="closedCard redCard">
      <directions-card [isAttackCard]="true"></directions-card>
    </div>
  </div>
  <div class="col">
    <div class="closedCard blackCard">
    </div>
  </div>
</div>
<div class="row ">
  <player-info-card></player-info-card>
</div>
